<header>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-scroll navbar-scrolled">
      <div class="container-fluid">
        <a
        id="logo"
        class="navbar-brand fs-2 fw-bolder"
        href="#"
        >ICS</a
      >
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#!">Acasă</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Galerie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Servicii</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  
    <!--Section: Design Block-->
    <section>
      <div id="intro" class="bg-image" style="
          background-image: url('../assets/img/AdobeStock1.jpeg');
          height: 100vh;
        ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
          <div class="container d-flex justify-content-start align-items-center h-100 ms-lg-0">
            <div class="row align-items-sm-center align-items-md-center ps-3 text-center">
              <div class="col-12 ps-md-0 pe-md-0">
                <h1
                class="user-select-none display-2 text-xl-start text-lg-start text-md-center  text-sm-center"
              >
                IZOLARE TERMICA
              </h1>
              <div class="">
                <hr id="divider" />
              </div>
              <h5
                class="user-select-none fs-3 mb-3 text-xl-start text-lg-start text-md-center text-sm-center"
              >
                izolam termic cu spuma poliuretanica
              </h5>
              <p
                id="headerParagraph"
                class="user-select-none fs-6 mb-3 text-xl-start text-lg-start text-md-center text-sm-center"
              >
                oferim servicii de izolare termica pentru case blocuri, mansarde si
                subsoluri, hale comerciale si cabane.
              </p>
              </div>
              <div class="container-fluid d-flex justify-content-center align-items-center h-100 ms-lg-0 justify-content-lg-start">
              <a class="btn btn-light btn-lg" href="#" role="button" target="_blank"
              ><i class="fab fa-whatsapp"></i><span class="ps-2">Whatsapp</span></a
            >
          </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Design Block-->
  </header>
</header>

<!-- Servicii-Carduri -->
<section>
  <div class="mb-0 mt-5">
    <h3 class="display-6">Servicii</h3>
  </div>
  <!-- Cards -->
  <div class="container-fluid overflow-hidden">
    <div class="row mt-5">
      <div class="card-group">
        <!-- Spuma cu celula deschisa -->
        <div
          class="col-md mb-sm-2 p-1 d-flex justify-content-sm-center justify-content-md-center me-md-3 overflow-hidden"
          style="min-width: 300px"
        >
          <div class="card h-100 rounded-5 hover-shadow" style="width: 25rem">
            <h5 class="card-title text-center">Spuma cu celulă deschisă</h5>
            <img
              src="../assets/img/opencellpolyurethane.png"
              class="card-img-top img-thumbnail shadow-3-strong"
              alt="polyurethane open cell"
              style="height: 21rem; width: 25rem"
            />
            <div class="card-body">
              <p class="card-text mb-3">
                Una dintre cele mai mari beneficii ale spumei cu celulă deschisă
                este că se extinde atât de mult după ce a fost aplicată, ceea ce
                înseamnă că poate izola și colțurile greu accesibile dintr-o
                casă. Spuma cu celulă deschisă este excelentă pentru izolare
                fonică de asemenea, mult mai accesibilă decât spumă cu celulă
                închisă, cu toate acestea, această spumă nu va izola o casă la
                fel de bine ca spuma cu celulă închisă, deci nu este ideală
                pentru locații cu temperaturi extreme.
              </p>
            </div>
          </div>
        </div>
        <!-- /Spuma cu celula deschisa -->
        <!-- Spuma cu celula inchisa -->
        <div
          class="col-md p-1 d-flex justify-content-md-center"
          style="min-width: 300px"
        >
          <div class="card h-100 rounded-5 hover-shadow" style="width: 25rem">
            <h5 class="card-title text-center">Spuma cu celulă închisă</h5>
            <img
              src="../assets/img/closedcellpolyurethane.png"
              class="card-img-top img-thumbnail shadow-3-strong"
              alt="polyurethane closed cell"
              style="height: 21rem; width: 25rem"
            />

            <div class="card-body">
              <p class="card-text">
                Spuma cu celulă închisă este cea mai bună alegere pentru
                izolarea rezistentă acolo unde spațiul devine o problemă,
                deoarece poate atinge de două ori valoarea R a celulei deschise
                în interiorul unui perete standard. Structura sa rigidă se
                adaugă, de asemenea, și la integritatea structurală a clădirii
                și sunt disponibile versiuni rezistente la foc, E84. Celula
                închisă acționează și ca o barieră de vapori, astfel încât apa
                și umezeala vor fi mai puțin probabil să pătrundă în casă, iar
                spuma rămâne intactă la contact cu apa.
              </p>
            </div>
          </div>
        </div>
        <!-- /Spuma cu celula inchisa -->
      </div>
    </div>
  </div>
  <!-- /Cards -->
</section>
<!-- /Servicii-Carduri -->

<!-- Galerie -->
<section>
  <div class="mb-3 mt-5">
    <h3 class="display-6">Galerie</h3>
  </div>
  <!-- Carousel -->
  <div class="container">
    <div id="carousel" class="justify-content-center align-self-center">
      <mdb-carousel [animation]="'slide'">
        <!-- class="ms-xxl-5 me-xxl-5 ms-xl-5 ms-xl-5 ms-lg-5 me-lg-5 ms-md-2 me-md-2 ps-xxl-5 pe-xxl-5" -->
        <mdb-carousel-item id="carouselImages" class="h-100">
          <img
            class="d-block w-100"
            src="../assets/img/AdobeStock2.jpeg"
            alt="First slide"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            class="d-block w-100"
            src="../assets/img/AdobeStock3.jpeg"
            alt="Second slide"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            class="d-block w-100"
            src="../assets/img/AdobeStock4.jpeg"
            alt="Third slide"
          />
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </div>
  <!-- /Carousel -->
</section>
<!-- /Galerie -->

<!-- Contact -->
<section>
  <div class="">
    <h3 class="display-6 mt-3">Contacteaza-ne</h3>
  </div>
  <div class="container-fluid overflow-hidden">
    <div class="row">
      <div class="card-group">
        <!-- col-12 col-md-9 col-lg-6 col-xl-5 -->
        <!-- Formular Contact -->
        <div
          class="col-lg p-1 me-md-3 d-flex justify-content-sm-around justify-content-md-baseline overflow-hidden"
          style="min-width: 300px"
        >
          <div
            class="card h-100 rounded-5 gradient-custom hover-shadow"
            style="border-radius: 1rem; width: 27rem"
          >
            <div class="card-body pb-5 ps-5 pe-5 mb-1 text-white">
              <div class="my-md-5">
                <form
                  action="https://formsubmit.co/bogda995@gmail.com"
                  method="POST"
                >
                  <div
                    class="form-floating form-outline form-white mb-4 hover-shadow"
                  >
                    <input
                      type="name"
                      id="typeName"
                      class="form-control form-control-lg border border"
                      maxlength="50"
                    />
                    <label class="form-label" for="typeName"
                      >Nume/Companie</label
                    >
                  </div>
                  <div
                    class="form-floating form-outline form-white mb-4 hover-shadow"
                  >
                    <input
                      type="email"
                      id="typeEmail"
                      class="form-control form-control-lg border border"
                    />
                    <label class="form-label" for="typeEmail">Email</label>
                  </div>
                  <div
                    class="form-floating form-outline form-white mb-4 hover-shadow"
                  >
                    <textarea
                      class="form-control form-control-lg border border"
                      aria-describedby="typeMesajHelper"
                      id="typeMesaj"
                      data-mdb-showcounter="true"
                      maxlength="300"
                      rows="10"
                      style="height: 200px; max-height: 400px"
                    ></textarea>
                    <label class="form-label" for="typeMesaj">Mesaj</label>
                  </div>

                  <div class="text-center py-3 mt-5">
                    <button
                      class="btn btn-light btn-lg btn-rounded-3 px-5"
                      type="submit"
                    >
                      Trimite
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /Formular Contact -->
        <!-- Calculator -->
        <div
          class="col-lg p-1 pt-sm-3 d-flex justify-content-sm-baseline"
          style="min-width: 300px"
        >
          <div
            class="card h-100 gradient-custom hover-shadow"
            style="border-radius: 1rem; width: 27rem"
          >
            <div class="card-body pb-5 ps-5 pe-5 mb-1 text-white">
              <div class="my-md-5">
                <h5 class="mb-4 pb-2 text-center">Calculator estimativ</h5>
                <form>
                  <!-- Suprafata -->
                  <div
                    class="form-floating form-outline form-white mb-4 hover-shadow"
                  >
                    <input
                      type="number"
                      id="suprafata"
                      class="form-control form-control-lg border border"
                    />
                    <label class="form-label" for="suprafata"
                      >Suprafață(m<sup>2</sup>)</label
                    >
                  </div>
                  <!-- /Suprafata -->

                  <!-- Grosime -->
                  <div
                    class="form-floating form-outline form-white mb-4 hover-shadow"
                  >
                    <input
                      type="number"
                      id="grosime"
                      class="form-control form-control-lg border border"
                    />
                    <label class="form-label" for="grosime">Grosime</label>
                  </div>
                  <!-- /Grosime -->

                  <!-- Tip Spuma -->
                  <div class="row">
                    <p class="mb-2 pb-1">Tip spuma:</p>
                    <div class="form-floating form-outline form-white mb-4">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="openCell"
                          value="option1"
                        />
                        <label class="form-check-label" for="openCell"
                          >Spuma cu celula deschisa</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="inlineRadioOptions"
                          id="closedCell"
                          value="option2"
                        />
                        <label class="form-check-label" for="closedCell"
                          >Spuma cu celula inchisa</label
                        >
                      </div>
                    </div>
                  </div>
                  <!-- /Tip Spuma -->

                  <!-- Total -->
                  <div class="form-floating mb-0">
                    <input
                      type="number"
                      id="firstName"
                      class="bg-transparent form-control form-control-lg"
                      readonly
                    />
                    <label class="form-label text-white" for="firstName"
                      >Total</label
                    >
                  </div>
                  <!-- /Total -->
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /Calculator -->
      </div>
    </div>
  </div>
</section>
<!-- /Contact -->

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-sm-center justify-content-lg-end p-2 border-bottom text-black"
  >
    <!-- Left -->
    <div class="me-3">
      <span>Distribuie:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="text-black">
    <div class="container text-center text-md-start mt-2">
      <!-- Grid row -->
      <div class="row mt-2">
        <!-- Grid column -->
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-2">Navigare</h6>
          <p>
            <a href="#!" class="text-reset">Acasă</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Galerie</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Contact</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Servicii</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-2">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Alba Iulia, Alba 510001, RO</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div
    class="text-center p-2 text-black"
    style="background-color: rgba(0, 0, 0, 0.05)"
  >
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      >MDBootstrap.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- /Footer -->
