<header id="acasa">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-scroll navbar-scrolled">
    <div class="container-fluid">
      <a id="logo" class="navbar-brand fs-2 fw-bolder" href="#acasa">ICS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#acasa">Acasă</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#servicii">Servicii</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#galerie">Galerie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.facebook.com/Izolatii-Termice-cu-Spuma-Poliuretanica-110665201694333/">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!--Section: Design Block-->
  <section>
    <div
      id="intro"
      class="bg-image"
      style="
        background-image: url('../assets/img/AdobeStock1.jpeg');
        height: 100vh;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.5)">
        <div
          class="container d-flex justify-content-start align-items-center h-100 ms-lg-0"
        >
          <div
            class="row align-items-sm-center align-items-md-center ps-3 text-center ps-lg-5 ps-md-5 ps-xl-5"
          >
            <div class="col-12 ps-md-0 pe-md-0 ps-lg-4 ps-md-4 ps-xl-4">
              <h1
                class="user-select-none display-2 text-xl-start text-lg-start text-md-center text-sm-center"
              >
                IZOLARE TERMICA
              </h1>
              <div class="mb-xl-5 mb-lg-5 mb-md-5 mb-sm-2">
                <hr id="divider" />
              </div>
              <h5
                class="user-select-none fs-1 mb-5 pe-auto text-xl-start text-lg-start text-md-center text-sm-center"
              >
                izolam termic cu spuma poliuretanica cu celula deschisa si
                celula inchisa
                <!-- <span class="d-flex justify-content-xl-start text-xl-start text-lg-center text-md-center text-sm-center">cu celula deschisa </span> si <span class=" text-xl-start text-lg-center text-md-center text-sm-center">celula inchisa </span> -->
              </h5>
              <p
                id="headerParagraph"
                class="user-select-none fs-3 mb-5 text-xl-start text-lg-start text-md-center text-sm-center align-items-sm-baseline"
              >
                oferim servicii de izolare termica pentru case blocuri, mansarde
                si subsoluri, hale comerciale si cabane.
              </p>
            </div>
            <div
              class="container-fluid d-flex justify-content-center align-items-center mt-sm-5 h-100 ms-lg-0 justify-content-lg-start"
            >
              <a
                class="btn btn-light btn-lg fw-bold"
                href="https://wa.me/{{ numardetelefonwhatsapp }}?text={{
                  textinformaturl
                }}"
                role="button"
                target="_blank"
                ><i class="fab fa-whatsapp"></i
                ><span class="ps-2"> Whatsapp</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Design Block-->
</header>
<!-- Servicii-Carduri -->
<section id="servicii">
  <div class="mb-5 mt-5">
    <h3 class="display-6 ps-lg-5 ps-md-5 ps-xl-5">Servicii</h3>
  </div>
  <!-- Cards -->
  <div class="container-fluid overflow-hidden">
    <div class="row">
      <div class="card-group">
        <!-- Spuma cu celula deschisa -->
        <div
          class="col-lg mb-sm-2 d-flex justify-content-sm-center justify-content-md-center me-md-3 overflow-hidden"
          style="min-width: 300px"
        >
          <div
            class="card h-100 rounded-5 hover-shadow align-items-center"
            style="width: 32rem"
          >
            <h5 id="servicesTitle" class="card-title text-center pt-3 pb-3">
              Spuma cu celulă deschisă
            </h5>
            <img
              src="../assets/img/opencellpolyurethane.png"
              class="card-img-top img-thumbnail shadow-3-strong"
              alt="polyurethane open cell"
              style="height: 21rem; width: 25rem"
            />
            <div class="card-body pt-5">
              <p class="card-text mb-3">
                Una dintre cele mai mari beneficii ale spumei cu celulă deschisă
                este că se extinde atât de mult după ce a fost aplicată, ceea ce
                înseamnă că poate izola și colțurile greu accesibile dintr-o
                casă. Spuma cu celulă deschisă este excelentă pentru izolare
                fonică de asemenea, mult mai accesibilă decât spumă cu celulă
                închisă, cu toate acestea, această spumă nu va izola o casă la
                fel de bine ca spuma cu celulă închisă, deci nu este ideală
                pentru locații cu temperaturi extreme.
              </p>
            </div>
          </div>
        </div>
        <!-- /Spuma cu celula deschisa -->
        <!-- Spuma cu celula inchisa -->
        <div
          class="col-lg p-1 d-flex justify-content-md-center"
          style="min-width: 300px"
        >
          <div
            class="card h-100 rounded-5 hover-shadow align-items-center"
            style="width: 32rem"
          >
            <h5 id="servicesTitle" class="card-title text-center pt-3 pb-3">
              Spuma cu celulă închisă
            </h5>
            <img
              src="../assets/img/closedcellpolyurethane.png"
              class="card-img-top img-thumbnail shadow-3-strong"
              alt="polyurethane closed cell"
              style="height: 21rem; width: 25rem"
            />

            <div class="card-body pt-5">
              <p class="card-text mb-3">
                Spuma cu celulă închisă este cea mai bună alegere pentru
                izolarea rezistentă acolo unde spațiul devine o problemă,
                deoarece poate atinge de două ori valoarea R a celulei deschise
                în interiorul unui perete standard. Structura sa rigidă se
                adaugă, de asemenea, și la integritatea structurală a clădirii
                și sunt disponibile versiuni rezistente la foc, E84. Celula
                închisă acționează și ca o barieră de vapori, astfel încât apa
                și umezeala vor fi mai puțin probabil să pătrundă în casă, iar
                spuma rămâne intactă la contact cu apa.
              </p>
            </div>
          </div>
        </div>
        <!-- /Spuma cu celula inchisa -->
      </div>
    </div>
  </div>
  <!-- /Cards -->
</section>
<!-- /Servicii-Carduri -->

<!-- Galerie -->
<section id="galerie">
  <div class="mb-5 mt-5">
    <h3 class="display-6 ps-lg-5 ps-md-5 ps-xl-5">Galerie</h3>
  </div>
  <!-- Carousel -->
  <div class="container">
    <div id="carousel" class="justify-content-center align-self-center">
      <mdb-carousel [animation]="'slide'">
        <!-- class="ms-xxl-5 me-xxl-5 ms-xl-5 ms-xl-5 ms-lg-5 me-lg-5 ms-md-2 me-md-2 ps-xxl-5 pe-xxl-5" -->
        <mdb-carousel-item id="carouselImages" class="h-100">
          <img
            class="d-block w-100"
            src="../assets/img/AdobeStock2.jpeg"
            alt="First slide"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            class="d-block w-100"
            src="../assets/img/AdobeStock3.jpeg"
            alt="Second slide"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            class="d-block w-100"
            src="../assets/img/AdobeStock4.jpeg"
            alt="Third slide"
          />
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </div>
  <!-- /Carousel -->
</section>
<!-- /Galerie -->

<!-- Contact -->
<section id="contact">
  <div class="mb-5 mt-5">
    <h3 class="display-6 ps-lg-5 ps-md-5 ps-xl-5">Contacteaza-ne</h3>
  </div>
  <div class="container-fluid overflow-hidden">
    <div class="row mb-5 mx-lg-5 mx-md-3">
      <div class="card-group">
        <!-- Attention to width: 30rem. This can be removed -->
        <!-- <div
          class="col-12 col-md-9 col-lg-5 col-xl-4 shadow-3-strong rounded-5 me-5 mb-5"
          style="min-width: 300px"
        > -->
          <!-- <div class="card h-100 p-5 pb-0" style="border-radius: 1rem">
            <p class="card-title pb-4 fs-3 text-center text-black-50">
              Calculator estimativ
            </p>
            <hr />
            <div class="card-body">
              <div class="my-md-5"> -->
                <!-- <form [formGroup]="calculator" (ngSubmit)="rezultat()">
                  <div class="form-group mb-5">
                    <label
                      class="fs-4 form-label"
                      for="inputSuprafata"
                      aria-describedby="inputSuprafataText"
                      >Suprafața:</label
                    >
                    <input
                      class="form-control fs-4 hover-shadow"
                      type="number"
                      id="inputSuprafata"
                      placeholder="0.00"
                      required
                    />
                    <small id="inputSuprafataText" class="form-text text-muted"
                      >suprafața în metri pătrați. Ex: 5.4(m<sup>2</sup>)</small
                    >
                  </div>

                  <div class="form-group mb-5">
                    <label
                      class="fs-4"
                      for="inputGrosime"
                      aria-describedby="inputGrosimeText"
                      >Grosime:</label
                    >
                    <input
                      class="form-control fs-4 hover-shadow"
                      type="number"
                      id="inputGrosime"
                      placeholder="0"
                      required
                    />
                    <small id="inputGrosimeText" class="form-text text-muted"
                      >grosimea stratului in centimetri</small
                    >
                  </div>
                  <div class="row">
                    <div class="form-floating form-white">
                      <div class="custom-control custom-radio">
                        <input
                          type="radio"
                          id="openCell"
                          name="inputRadioButton"
                          class="custom-control-input"
                          value="option1"
                          style="width: 30px; height: 30px"
                        />
                        <label class="custom-control-label fs-4" for="openCell"
                          >Spuma cu celula deschisa</label
                        >
                      </div>
                      <div class="custom-control custom-radio mb-5">
                        <input
                          type="radio"
                          id="closedCell"
                          name="inputRadioButton"
                          class="custom-control-input"
                          value="option2"
                          style="width: 30px; height: 30px"
                        />
                        <label
                          class="custom-control-label fs-4"
                          for="closedCell"
                          >Spuma cu celula închisă</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-5">
                    <label class="fs-4" for="total">Total:</label>
                    <input
                      class="form-control fs-4"
                      type="number"
                      id="outputTotal"
                      aria-describedby="totalText"
                      placeholder="0"
                      readonly
                    />
                    <small id="totalText" class="form-text text-muted"
                      >Valoarea in euro fara TVA</small
                    >
                  </div>
                </form> -->
              <!-- </div>
            </div>
          </div>
        </div> -->
        <!-- /Calculator -->
        <!-- Formular Contact -->
        <div
          class="col-12 col-md-9 col-lg-5 col-xl-4 shadow-3-strong rounded-5 mb-5"
          style="min-width: 300px"
        >
          <div class="card h-100 p-5 pb-0" style="border-radius: 1rem">
            <p class="card-title pb-4 fs-3 text-center text-black-50">
              Formuleaza o cerere
            </p>
            <hr />
            <div class="card-body">
              <div class="my-md-5">
                <form
                  action="https://formsubmit.co/bogda995@gmail.com"
                  method="POST"
                >
                  <div class="form-group mb-5">
                    <label class="fs-4" for="nameInput">Nume/Compania:</label>
                    <input
                      type="text"
                      class="form-control fs-4"
                      id="nameInput"
                      placeholder=""
                    />
                  </div>
                  <div class="form-group mb-5">
                    <label class="fs-4" for="emailInput">Email:</label>
                    <input
                      type="email"
                      class="form-control fs-4"
                      id="emailInput"
                      aria-describedby="emailHelp"
                      placeholder=""
                    />
                  </div>
                  <div class="form-group mb-5">
                    <label class="fs-4" for="exampleFormControlTextarea1"
                      >Mesaj:</label
                    >
                    <textarea
                      class="form-control fs-4"
                      id="exampleFormControlTextarea1"
                      rows="3"
                    ></textarea>
                  </div>
                  <div class="text-center pb-5">
                    <button
                      class="btn btn-primary btn-lg btn-rounded-3 px-5"
                      type="submit"
                    >
                      Trimite
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Contact -->

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5 align-items-center">
  <!-- Section: Links  -->
  <section class="text-white pt-5 d-flex justify-content-center">
    <div class="container text-center text-md-start mt-2">
      <!-- Grid row -->
      <div class="row mt-2">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-2">Navigare</h6>
          <p>
            <a href="acasa!" class="text-reset">Acasă</a>
          </p>
          <p>
            <a href="servicii!" class="text-reset">Servicii</a>
          </p>
          <p>
            <a href="galerie!" class="text-reset">Galerie</a>
          </p>
          <p>
            <a href="contact!" class="text-reset">Contact</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-2">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Alba Iulia, Alba 510001, RO</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            icspumap@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i>0755758211</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div
    class="text-center p-2 text-white d-flex justify-content-center"
    style="background-color: rgba(0, 0, 0, 0.05)"
  >
    © 2022 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- /Footer -->
